.btn {
  .fontOswald400();
  .textCenter();
  .linkReset();
  background-color: @lime;
  display: inline-block;
  color: @white;
  cursor: pointer;
  text-transform: uppercase;
  vertical-align: middle;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    background-color: #5eaa2f;
    color: rgba(255, 255, 255, 0.3);
  }
}
