.btn {
  .fontOswald400();
  .textCenter();
  background-color: @lime;
  color: @white;
  font-size: 14px;
  line-height: 18px;
  min-height: 15px;
  padding: 12px 0 13px 0;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}
