.developer {
  .linkReset();
  .flexRow();
  align-items: center;
  color: @grey;
  justify-content: space-between;
  min-height: 78px;

  &__text {
    .fontArial();
    display: inline-block;
    font-size: 16px;
    line-height: 16px;
    vertical-align: middle;
  }

  &__logo {
    display: block;
    height: 34px;
    width: 27px;
  }
}
