.footer-logo {
  border-bottom: 1px solid #d9d9d9;
  display: block;
  text-align: center;

  &__img {
    display: inline-block;
    fill: #444444;
    margin-top: 38px;
    margin-bottom: 30px;
    vertical-align: top;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }
}

//Tablet version
@media (min-width: 768px) {
  .footer-logo {
    border: none;
    width: auto;

    &__img {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
