.header {
  background-color: @lime;
  border-top: 1px solid @lime;
  color: @white;
  position: relative;

  &__wrap {
    background: @lime url("../../img/index-background-mobile@1x.jpg") 0 0 no-repeat;
    padding-top: 27px;
    padding-bottom: 165px;
  }

  &__heading {
    .headingReset();
    .fontOswald400();
    .textCenter();
    display: block;
    font-size: 36px;
    line-height: 36px;
    width: 100%;
  }

  &__slogan {
    .headingReset();
    .fontOswald400();
    .textCenter();
    display: block;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    margin-top: 27px;
    width: 100%;
  }

  &__img-mobile {
    display: block;
    height: 270px;
    margin: 0 auto;
    position: absolute;
    top: 170px;
    width: 280px;
  }

  &__img-tablet {
    display: none;
  }

  &__img-desktop {
    display: none;
  }

  &__btn-wrap {
    .flexRow();
    background-color: @white;
    justify-content: center;
    padding-top: 135px;
    padding-bottom: 22px;
  }

  &__btn {
    display: block;
    font-size: 14px;
    line-height: 18px;
    padding: 12px 20px 13px 20px;
    margin: 0 auto;
    width: 240px;
  }
}

//Tablet version
@media all and (min-width: 768px) {
  .header {
    background: none;
    border-top: 1px solid transparent;

    &__wrap {
      background: none;
      padding-top: 58px;
      padding-bottom: 0;
    }

    &__heading {
      color: @lightBlack;
      font-size: 60px;
      line-height: 60px;
      margin-left: 90px;
      text-align: left;
      width: 427px;
    }

    &__slogan {
      color: @lightBlack;
      font-size: 20px;
      line-height: 20px;
      margin: 32px 0 0 90px;
      text-align: left;
      width: 427px;
    }

    &__img-mobile {
      display: none;
    }

    &__img-tablet {
      display: block;
      margin-top: 18px;
      bottom: 0;
    }

    &__btn-wrap {
      background-color: transparent;
      display: block;
      margin: -578px auto 0 auto;
      width: 618px;
      padding: 0 30px 528px 120px;
    }

    &__btn {
      font-size: 20px;
      line-height: 20px;
      padding: 15px 0;
      margin: 0;
      width: 245px;
    }
  }
}

//Desktop version
@media all and (min-width: 1300px) {
  .header {
    background: none;

    &__wrap {
      background: transparent;
      padding-top: 104px;
      position: relative;
    }

    &__heading {
      margin-left: 80px;
      width: 415px;
    }

    &__slogan {
      margin-left: 80px;
      width: 415px;
    }

    &__img-tablet {
      display: none;
    }

    &__img-desktop {
      display: block;
      position: absolute;
      left: 490px;
      top: 20px;
    }

    &__btn-wrap {
      margin: 0 auto;
      padding: 0 40px 188px 40px;
      width: 1220px;
    }

    &__btn {
      font-size: 20px;
      line-height: 20px;
      margin: 50px 0 0 80px;
      padding: 15px 0;
      position: static;
      width: 245px;
    }
  }
}
