//Mobile version
.site-logo {
  .flexRow();
  align-items: center;
  background-color: #ffffff;
  justify-content: space-between;
  margin: 0 auto;
  min-height: 65px;
  padding: 0 20px;
  width: 280px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &__link {
    .linkReset();
  }

  &__img {
    display: block;
    height: 38px;
    width: 192px;
  }
}

//Tablet version
@media all and (min-width: 768px) {
  .site-logo {
    margin: 0;
    padding: 0;
    width: auto;

    &__img {
      height: 58px;
      width: 173px;
    }
  }
}

//Desktop version
@media all and (min-width: 1300px) {
  .site-logo {
    &__img {
      height: 59px;
      width: 202px;
    }
  }
}
