.social {
  .flexRow();
  align-items: center;
  border-bottom: 1px solid #d9d9d9;
  justify-content: center;
  min-height: 62px;

  &__link {
    display: inline-block;
    margin-right: 37px;
    vertical-align: middle;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link svg {
    fill: #666666;
  }

  &__link:hover svg {
    fill: @green;
  }

  &__link:active svg {
    fill: @green;
    opacity: 0.3;
  }
}

//Tablet version
@media (min-width: 768px) {
  .social {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;

    &__link {
      height: 28px;
      width: 30px;
      margin-right: 29px;

      &-vk {
        height: 16px;
        width: 30px;
      }

      &-ig {
        height: 23px;
        width: 23px;
      }

      &-fb {
        height: 28px;
        width: 14px;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

