.btnReset {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.flexRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.fontArial {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fontOswald400 {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fontOswald500 {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.headingReset {
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}

.inputNameStyle {
  .fontOswald400();
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.linkReset {
  text-decoration: none;
}

.listReset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.paragraphReset {
  margin: 0;
  padding: 0;
}

.textCenter {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.textLeft {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.textRight {
  display: inline-block;
  text-align: right;
  vertical-align: middle;
}

.unListReset {
  list-style: none;
  margin: 0;
  padding: 0;
}
